
<div class="row"  *ngIf="data">
  <div class="col-md-6">
    <h4>Total values of testSets grouped by rulesets</h4>
    <div style="display: block;">
    <canvas baseChart width="1000" height="800" id="bar-chart"
                [datasets]="data"
                [labels]="labels"
                [options]="options"
                
                [legend]="legend"
                chartType="bar"></canvas>
    </div>
  </div>
  <div class="col-md-6" style="margin-bottom: 10px">
    
  </div>
</div>