
<div class="row">
  <div class="col-md-6">
      <h4>Personalization Chart - Total values and visits displayed by date</h4>
    <div style="display: block;">
    <canvas baseChart width="1000" height="800" id="line-chart"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                
                [legend]="lineChartLegend"
                [chartType]="lineChartType"></canvas>
    </div>
  </div>
  <div class="col-md-6" style="margin-bottom: 10px">
    
  </div>
</div>